Repository sparcs-kaist/otlplus-app, pull requests merged in 2021-07, with the labels that each got.

#1 Changed ios status bar color
  .gitignore
  ios/Flutter/Debug.xcconfig
  ios/Flutter/Release.xcconfig
  ios/Podfile
  ios/Podfile.lock
  ios/Runner.xcodeproj/project.pbxproj
  ios/Runner.xcworkspace/contents.xcworkspacedata
  lib/widgets/backdrop.dart
Labels: bug

#2 Add CI with GitHub Actions
  .github/workflows/build.yml
  .github/workflows/deploy.yml
  .github/workflows/lint.yml
  ios/Podfile.lock
  ios/Runner.xcodeproj/project.pbxproj
  ios/Runner.xcodeproj/project.xcworkspace/contents.xcworkspacedata
  ios/Runner.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
  lib/models/course.dart
  lib/models/lecture.dart
  lib/models/timetable.dart
  lib/models/user.dart
  pubspec.lock
  pubspec.yaml
Labels: cicd

#3 Add unit test
  .github/workflows/test.yml
  .gitignore
  lib/models/classtime.dart
  lib/models/examtime.dart
  lib/models/time.dart
  pubspec.lock
  pubspec.yaml
  test/model/classtime_test.dart
  test/model/course_test.dart
  test/model/examtime_test.dart
  test/run.sh
Labels: cicd, test

#4 Add Widget Test
  .github/workflows/test.yml
  android/build.gradle
  ios/Podfile.lock
  ios/Runner.xcodeproj/project.pbxproj
  lib/pages/login_page.dart
  lib/providers/auth_model.dart
  lib/widgets/lecture_group_block.dart
  pubspec.lock
  pubspec.yaml
  test/model/course_test.dart
  test/models/classtime_test.dart
  test/models/course_test.dart
  test/models/examtime_test.dart
  test/widgets/course_block_test.dart
  test/widgets/lecture_group_block_row_test.dart
  test/widgets/lecture_group_block_test.dart
  test/widgets/lecture_group_simple_block_test.dart
  test/widgets/lecture_simple_block_test.dart
  test/widgets/timetable_block_test.dart
  test/widgets/timetable_summary_test.dart
Labels: test
